asgiref==3.8.1
black==24.10.0
click==8.1.8
Django==5.1.5
django-cors-headers==4.6.0
django-environ==0.12.0
djangorestframework==3.15.2
drf-yasg==1.21.8
environ==1.0
gunicorn==23.0.0
inflection==0.5.1
isort==5.13.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pytz==2024.2
PyYAML==6.0.2
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
uritemplate==4.1.1
whitenoise==6.8.2
